[Unit]
Description=My service
After=network.target

[Service]
ExecStart=python3 -u /home/git/code/cputempv2.py
WorkingDirectory=/home/git/code/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
